@media screen and (max-width: 1024px) {
    .heading .text1 h1 {
        font-size: 35px;
        padding: 25px;
        line-height: 1.15;
      }
    .heading .headingImg img {
        width: 100%;
        padding: 0 150px;
      }
}
@media screen and (max-width: 992px) {
    .heading .text1 h1 {
        font-size: 35px;
        padding: 25px;
        line-height: 1.15;
      }
    .heading .headingImg img {
        width: 100%;
        padding: 0 150px;
      }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .heading .text1 h1 {
    font-size: 35px;
    padding: 25px;
    line-height: 1.15;
  }
  .heading .headingImg img {
    width: 100%;
    padding: 0 150px;
  }
  /* footer responsive style */
  footer .information h5 {
    padding: 10px 0;
    font-size: 15px;
    margin: 10px 0;
  }
  footer .information p {
    padding: 10px 0;
    font-size: 14px;
    font-family: OpenSans-Regular;
    line-height: 23px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .heading .text1 h1 {
    font-size: 27px;
    padding: 10px;
    line-height: 1.15;
  }
  .heading .headingImg img {
    width: 100%;
    padding: 10px;
  }
  .heading .text2 p {
    font-size: 20px;
    padding: 0 10px;
    font-family: OpenSans-Regular;
    list-style: 23px;
  }
  .heading .text3 {
    padding: 0 10px;
  }
  .heading .text3 h2 {
    font-size: 25px;
  }
  .heading .text3 p {
    font-size: 20px;
    font-family: OpenSans-Regular;
    line-height: 27px;
  }
  .heading .questions {
    padding: 10px;
    text-align: center;
  }
  .heading .questions h3 {
    font-size: 25px;
    padding: 15px;
    font-family: OpenSans-Light;
    margin-bottom: 15px;
  }
  .heading .result p {
    padding: 10px;
    font-size: 27px;
    line-height: 1.15;
  }
  .heading .result2 {
    padding: 0;
    text-align: center;
    border-top: 5px solid #00007c;
  }
  .heading .result2 h3 {
    border: none;
    padding: 35px 10px 25px;
    font-size: 30px;
  }
  .heading .result2 p {
    font-size: 22px;
    font-family: OpenSans-Regular;
    padding: 10px;
    margin-bottom: 5px;
  }
  .heading .result2 .btn2 {
    width: 90%;
    margin: auto;
    font-size: 20px;
    padding: 20px 0;
  }
  .heading .result2 h4 {
    margin-bottom: 20px;
    padding: 0 10px;
    margin-top: 20px;
    line-height: 1.15;
  }
  /* footer responsive style */
  footer .links a:not(:first-child) {
    margin-inline-start: 10px;
  }
  footer .information h5 {
    padding: 10px 0;
    font-size: 15px;
    margin: 10px 0;
  }
  footer .information p {
    padding: 10px 0;
    font-size: 14px;
    font-family: OpenSans-Regular;
    line-height: 23px;
  }
}
